<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.sfinfotech.rblxcal.RBXApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Rbx">
        <activity
            android:name="com.sfinfotech.rblxcal.screens.ad.WebAdActivity"
            android:exported="false"
            android:theme="@style/Theme.Rbx" />
        <activity
            android:name="com.sfinfotech.rblxcal.core.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="nosensor"
            android:theme="@style/Theme.RBXCalculator.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sfinfotech.rblxcal.screens.result.CalResultActivity"
            android:exported="false"
            android:screenOrientation="nosensor"
            android:theme="@style/Theme.Rbx" />
        <activity
            android:name="com.sfinfotech.rblxcal.screens.calc.CalcActivity"
            android:exported="false"
            android:screenOrientation="nosensor"
            android:theme="@style/Theme.Rbx" />
        <activity
            android:name="com.sfinfotech.rblxcal.screens.quiz.QuizActivity"
            android:exported="false"
            android:screenOrientation="nosensor"
            android:theme="@style/Theme.Rbx" />
        <activity
            android:name="com.sfinfotech.rblxcal.core.settings.SettingActivity"
            android:exported="false"
            android:screenOrientation="nosensor"
            android:theme="@style/Theme.Rbx" />
        <activity
            android:name="com.sfinfotech.rblxcal.screens.sctach.ScrtachCardActivity"
            android:exported="false"
            android:screenOrientation="nosensor"
            android:theme="@style/Theme.Rbx" />
        <activity
            android:name="com.sfinfotech.rblxcal.screens.spin.SpinActivity"
            android:exported="false"
            android:screenOrientation="nosensor"
            android:theme="@style/Theme.Rbx" />
        <activity
            android:name="com.sfinfotech.rblxcal.screens.memes.MemesActivity"
            android:exported="false"
            android:screenOrientation="nosensor"
            android:theme="@style/Theme.Rbx" />
        <activity
            android:name="com.sfinfotech.rblxcal.screens.tips.detail.TipDetailActivity"
            android:exported="false"
            android:screenOrientation="nosensor"
            android:theme="@style/Theme.Rbx" />
        <activity
            android:name="com.sfinfotech.rblxcal.screens.tips.tip.TipsActivity"
            android:exported="false"
            android:screenOrientation="nosensor"
            android:theme="@style/Theme.Rbx" />
        <activity
            android:name="com.sfinfotech.rblxcal.screens.main.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="nosensor"
            android:theme="@style/Theme.Rbx" />
    </application>

</manifest>